<h1>My Tasks</h1>

  <% @tasks.each do |task| %>
  <% if task.completed? %>
  <%= "[X]" %>
  <% else %>
  <%= "[ ]" %>
  <% end %>
  <%= link_to task.title, task_path(task) %>
  <br>
  <% end %>
  <br>
  <%= link_to "add a task", tasks_new_path()%>
